<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community</title>
    <link rel="stylesheet" href="/css/Commu.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="main_div">
        <div class="com_head">
            <h2>community forum</h2>
        </div>

        <div class="main_community">
            <!-- community query section -->
            <div class="com_grid">
                <div class="com_card">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            live_help
                        </span>
                    </div>
                    <a href="#q_id" style="text-decoration: none;">
                        <div class="text">Ask the Community</div>
                    </a>
                </div>
                <div class="com_card">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            wb_incandescent
                        </span>
                    </div>
                    <div class="text">this is latest chat1</div>
                    <div class="duration">
                        <p>Aug'<span>22</span></p>
                    </div>
                </div>
                <div class="com_card">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            breaking_news_alt_1
                        </span>
                    </div>
                    <a href="/qna" style="text-decoration: none;"><div class="text">News from Community</div></a>
                </div>
                <div class="com_card">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            wb_incandescent
                        </span>
                    </div>
                    <div class="text">this is latest chat2</div>
                    <div class="duration">
                        <p>Aug'<span>22</span></p>
                    </div>
                </div>
                <div class="com_card">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            check_box
                        </span>
                    </div>
                    <a href="/seeans" style="text-decoration: none;"><div class="text">Read Answers</div></a>
                </div>
                <div class="com_card">
                    <div class="logo">
                        <span class="material-symbols-outlined">
                            wb_incandescent
                        </span>
                    </div>
                    <div class="text">this is latest chat3</div>
                    <div class="duration">
                        <p>Aug'<span>22</span></p>
                    </div>
                </div>
            </div>

            <!-- community query display pannel -->
            <div class="panel_display">
                <div class="latest">
                    <h3> your latest posts</h3>
                </div>
                <div class="flex_box">
                    <!-- show queries -->
                    <div class="query_section">
                        {{#if data1}}
                        {{#each data1}}
                        <div class="query_box">
                            <div class="user_img">
                                <img src="./uploads/{{this.imagename}}" alt="user_img">
                            </div>
                            <div class="msg_div">
                                <div class="user_name">
                                    <div class="dot"></div>
                                    <p>{{this.Name}}</p>
                                </div>
                                <div class="user_msg">
                                    <p>{{this.Quries}}</p>
                                </div>
                            </div>
                            <div class="comb_div">
                                <div class="like_icon">
                                    <span class="material-symbols-outlined">
                                        recommend
                                    </span>
                                </div>
                                <div class="time">
                                    {{!-- <p>{{this.date}}</p> --}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <p>No queries yet</p>
                        {{/if}}
                    </div>



                    <!-- write queries -->
                    <div class="query_input" id="q_id">
                        <h4>ask your question</h4>
                        <form action="/Query" method="post">
                            <div class="area_div">
                                <textarea name="Quries" maxlength="200" cols="30" rows="10" class="m_box"
                                    placeholder="Please write youe question in 200 words..." autofocus></textarea>
                            </div>
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>

            <!-- faq sections -->
            <div class="f_box">
                <div class="head">
                    <h2>frequently asked question</h2>
                </div>
                <div class="sections">
                    <details>
                        <summary>What is women empowerment?</summary>
                        <p>Women empowerment refers to the process of enabling women to have control over their lives,
                            making decisions, and gaining equal rights and opportunities in various spheres of life.</p>
                    </details>
                    <details>
                        <summary>Why is women empowerment important?</summary>
                        <p>Women empowerment is crucial for achieving gender equality and promoting sustainable
                            development. It enhances social, economic, and political participation, leading to the
                            overall progress of society.</p>
                    </details>
                    <details>
                        <summary>How can women be empowered economically?</summary>
                        <p>Economic empowerment for women can be achieved through initiatives such as providing access
                            to education and training, promoting entrepreneurship, ensuring equal pay for equal work,
                            and creating supportive policies and infrastructure.</p>
                    </details>
                    <details>
                        <summary>How does education contribute to women's empowerment?</summary>
                        <p>Education plays a crucial role in women's empowerment by providing them with knowledge,
                            skills, and confidence to pursue their goals, make informed decisions, and challenge
                            societal norms that limit their opportunities.</p>
                    </details>
                    <details>
                        <summary>How can technology be used to empower women?</summary>
                        <p>Technology can empower women by providing access to information, online education and
                            training, remote work opportunities, healthcare services, and platforms for networking and
                            advocacy.</p>
                    </details>
                    <details>
                        <summary>What can individuals do to support women's empowerment?</summary>
                        <p>Individuals can support women's empowerment by promoting gender equality in their daily
                            interactions, challenging sexism and discrimination, advocating for policies that support
                            women's rights, and supporting organizations and initiatives working towards gender
                            equality.</p>
                    </details>
                </div>
            </div>

        </div>
    </div>

</body>

</html>